<div class="m2">
  <div class="b2">
    <div class="p2">
      <div class="container">
        <div class="row justify-content-around ">
          <div *ngFor="let item of Items" class="p3">
            <div class="b3">
              <div class="p3">
                <img class="card-img-top" [src]="item.Img" height="200" width="100">
              </div>
            </div>
            <div class="b3">
              <div class="p3">
                {{item.Ingredients[0]}}
              </div>
            </div>
            <div class="b3">
              <div class="p3">
                {{item.Ingredients[1]}}
              </div>
            </div>
            <div class="b3">
              <div class="p3">
                {{item.Ingredients[2]}}
              </div>
            </div>
            <div class="b3">
              <div class="p3">
                {{item.Ingredients[3]}}
              </div>
            </div>
            <div class="b3">
              <div class="p3">
                {{item.Ingredients[4]}}
              </div>
            </div>
            <div class="b3">
              <div class="p3">
                {{item.Ingredients[5]}}
              </div>
            </div>
            <div class="b3">
              <div class="p3">
                {{item.Ingredients[6]}}
              </div>
            </div>
            <div class="b3">
              <div class="p3">
                {{item.Ingredients[7]}}
              </div>
            </div>
            <div class="b3">
              <div class="p3">
                {{item.Ingredients[8]}}
              </div>
            </div>
            <div class="b3">
              <div class="p3">
                {{item.Ingredients[9]}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>